<div>
  <div>
    <h1><%= @the_board.name %></h1>
    <!--
    <h1>
      Board #<%= @the_board.id %> details
    </h1>

    <div>
      <div>
        <a href="/boards">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_board/<%= @the_board.id %>">
          Delete board
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_board.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_board.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_board.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Edit board
    </h2>

    <form action="/modify_board/<%= @the_board.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_board.name %>">
      </div>

      <button>
        Update board
      </button>
    </form>
  </div>
</div>
-->
<hr>

<div>
  <div>
    <h2>
      Add a new post
    </h2>
    <form action="/insert_post" method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>
      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body"></textarea>
      </div>
            <div>
        <label for="expiration_box">
          Expires on
        </label>

        <input type="date" id="expiration_box" name="query_expiration">
      </div>
      <div>
        <input type="hidden" id="board_id_field" name="query_board_id" value="<%= @the_board.id %>">
      </div>
      <button>
        Add post
      </button>
    </form>
  </div>
</div>

<hr>

<h2>Active posts</h2>

<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
      Body
    </th>

    <th>
      Posted on
    </th>

    <th>
      Expires on
    </th>

    <th>
    </th>
  </tr>

  <% @the_board.active_posts.each do |a_post| %>

    <tr>
      <td>
        <%= a_post.title %>
      </td>

      <td>
        <%= a_post.body %>%
      </td>

      <td>
        <%= a_post.created_at %>%
      </td>

      <td>
        <%= a_post.expires_on %>%
      </td>

    </tr>
  <% end %>
</table>


<h2>Expired posts</h2>

<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
      Body
    </th>

    <th>
      Posted on
    </th>

    <th>
      Expires on
    </th>

    <th>
    </th>
  </tr>

  <% @the_board.expired_posts.each do |a_post| %>

    <tr>
      <td>
        <%= a_post.title %>
      </td>

      <td>
        <%= a_post.body %>%
      </td>

      <td>
        <%= a_post.created_at %>%
      </td>

      <td>
        <%= a_post.expires_on %>%
      </td>

    </tr>
  <% end %>
</table>
